@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: #818cf833;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #1e1e22;
  border-radius: 3px;
}

/* Tap highlight */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Placeholder color */
input::placeholder {
  color: #333;
}

input:focus {
  outline: none;
}
